@import 'styles/colors.scss';

$button_focus_outline: $deep_purple_700;
$button_primary_background: $deep_purple_200;
$button_primary_color: $white;
$button_primary_disabled_background: $deep_purple_800;

a.button {
    border-radius: 8px;
    display: inline-block;
    font-weight: bold;
    height: auto;
    line-height: normal;
    padding: 12px 32px;
    text-align: center;

    &--primary {
        background: $button_primary_background;
        color: $button_primary_color;
    }

    &--disabled {
        background: $button_primary_disabled_background;
        pointer-events: none;
    }

    &:focus {
        outline-color: $button_focus_outline;
        outline-offset: 2px;
        outline-style: solid;
        outline-width: 2px;
    }
}
