@import 'styles/colors.scss';
@import 'styles/mixins.scss';
@import 'styles/queries.scss';

$hero_content_background_light: $light_theme_background;
$hero_content_text_color_light: $light_theme_color;
$hero_content_background_dark: $dark_theme_background;
$hero_content_text_color_dark: $dark_theme_color;

.hero {
    aspect-ratio: 2.65;
    position: relative;

    &__image {
        border-radius: 12px;
        height: 100%;
        left: 0;
        object-fit: cover;
        position: absolute;
        top: 0;
        width: 100%;
    }

    a.hero__content {
        &:hover h2 {
            text-decoration: underline;
        }
    }

    &__content {
        @include focus-outline;

        background: $hero_content_background_light;
        border-radius: 0px 16px 0px 0px;
        bottom: 0;
        color: $hero_content_text_color_light;
        left: 0;
        padding: 8px 24px 8px 8px;
        position: absolute;
        width: 60%;

        &:hover {
            text-decoration: none;
        }

        h2 {
            font-size: 40px;
            margin: 16px 0 8px;
        }

        p {
            font-size: 20px;
            margin: 12px 0 0;
        }
    }
}

@media screen and ($tablet) {
    .hero__content {
        width: 80%;
    }
}

@media screen and ($mobile) {
    .hero {
        &__content {
            border-radius: 0;
            padding: 8px;
            width: 100%;

            h2 {
                font-size: 28px;
            }

            p {
                font-size: 20px;
            }
        }
    }
}

@media screen and ($dark_mode) {
    .hero__content {
        background: $hero_content_background_dark;
        color: $hero_content_text_color_dark;
    }
}
