@font-face {
    font-family: "Montserrat";
    font-weight: bold;
    src: local("Montserrat"), url('/static/fonts/montserrat-bold.ttf');
}

@font-face {
    font-family: "Montserrat";
    font-weight: normal;
    src: local("Montserrat"), url('/static/fonts/montserrat-regular.ttf');
}
  
html, body {
    background: #ECEFF1;
    color: #263238;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    margin: 0;
    min-height: 100dvh;
}

html {
    padding: 0;
}

body {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 0 32px;
}

header {
    margin: 16px 0;
    text-align: center;
}

h2 {
    margin: 36px 0 0;
}

.event, .contact {
    max-width: 930px;
    width: 100%;
}

.event hgroup img, .contact hgroup img {
    border-radius: 8px;
    width: 100%;
}

.event hgroup h1, .contact hgroup h1 {
    margin-bottom: 0;
}
.event hgroup p {
    margin-top: 0;
}

.event p a {
    color: #651FFF;
    text-decoration: none;
}

.event p a:hover, .event p a:focus {
    text-decoration: underline;
}

a.button {
    background: #7C4DFF;
    border-radius: 8px;
    color: #FFFFFF;
    display: inline-block;
    font-weight: bold;
    margin: 16px 16px 32px 0;
    padding: 12px 32px;
    text-align: center;
    text-decoration: none;
}

a.button:hover {
    background: #B388FF;
    color: #000000;
}

a.button:focus {
    outline-color: #7C4DFF;
    outline-offset: 2px;
    outline-style: solid;
    outline-width: 2px;
}

.contact dl {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto;
    row-gap: 16px;
}

.contact dl dt {
    font-weight: bold;
}

.contact dl dd a {
    color: #651FFF;
    text-decoration: none;
}

.contact dl dd a:hover, .contact dl dd a:focus {
    text-decoration: underline;
}

.dark {
    display: none;
    visibility: hidden;
}

.light {
    display: initial;
    visibility: visible;
}

@media screen and (max-width: 930px) {
    a.button {
        display: block;
    }
}

@media (prefers-color-scheme: dark) {
    html, body {
        background: #263238;
        color: #ECEFF1;
    }

    .dark {
        display: initial;
        visibility: visible;
    }

    .light {
        display: none;
        visibility: hidden;
    }

    .event p a {
        color: #B388FF;
    }

    .contact dl dd a {
        color: #B388FF;
    }
}
