// Color Palette

$black: #000;
$white: #fff;

$blue_gray_50: #eceff1;
$blue_gray_100: #cfd8dc;
$blue_gray_200: #b0bec5;
$blue_gray_300: #90a4ae;
$blue_gray_400: #78909c;
$blue_gray_500: #607d8b;
$blue_gray_600: #546e7a;
$blue_gray_700: #455a64;
$blue_gray_800: #37474f;
$blue_gray_900: #263238;

$deep_purple_100: #b388ff;
$deep_purple_200: #7c4dff;
$deep_purple_400: #651fff;
$deep_purple_700: #6200ea;
$deep_purple_800: #4527a0;

// Brand Colors

$discord: #5865f2;
$facebook: #1877f2;
$instagram: #e1306c;

// Themes

$dark_theme_background: $blue_gray_900;
$dark_theme_color: $blue_gray_50;
$light_theme_background: $blue_gray_50;
$light_theme_color: $blue_gray_900;
