@import 'styles/colors.scss';

$focus_outline_color: $deep_purple_200;

@mixin focus-outline {
    &:focus {
        outline-color: $focus_outline_color;
        outline-style: solid;
        outline-width: 2px;

        &:not(:focus-visible) {
            outline: 0 !important;
            text-decoration: none;
        }
    }
}
