@import 'styles/colors.scss';
@import 'styles/mixins.scss';
@import 'styles/queries.scss';

$card_text_color_light: $light_theme_color;
$card_text_color_dark: $dark_theme_color;

.card {
    @include focus-outline;

    border-radius: 8px;
    color: $card_text_color_light;
    position: relative;

    &__image {
        border-radius: 8px;
        width: 100%;
    }

    &__title {
        margin: 8px;
    }

    &__description {
        margin: 8px;
    }
}

@media screen and ($dark_mode) {
    .card {
        color: $card_text_color_dark;
    }
}
