<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=5">
        <title>Outclimb - Contact Us</title>
        <link href="/static/css/main.css" rel="stylesheet">
    </head>
    <body>
        <header>
            <img src="/static/images/logo_light.webp" height="76" alt="Outclimb" class="light"/>
            <img src="/static/images/logo_dark.webp" height="76" alt="Outclimb" class="dark"/>
        </header>
        <section class="contact">
            <hgroup>
                <img src="/static/images/outclimb.webp" alt="Photo from February 18th 2023 meetup at Minneapolis Bouldering Project">
                <h1>Contact Information</h1>
            </hgroup>

            <dl>
                <dt>Email</dt>
                <dd><a href="mailto:info@outclimb.gay">info@outclimb.gay</a></dd>
                <dt>Phone</dt>
                <dd>(612) 440-9209</dd>
                <dt>Instagram</dt>
                <dd><a href="https://www.instagram.com/outclimbmn/" target="_blank">OutClimb MN</a></dd>
                <dt>Facebook</dt>
                <dd><a href="https://www.facebook.com/groups/1070762049768453/" target="_blank">OutClimb MN</a></dd>
            </dl>
        </section>
    </body>
</html>
