<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=5">
        <title>Outclimb - {{ .Name }}</title>
        <link href="/static/css/main.css" rel="stylesheet">
    </head>
    <body>
        <header>
            <img src="/static/images/logo_light.webp" height="76" alt="Outclimb" class="light"/>
            <img src="/static/images/logo_dark.webp" height="76" alt="Outclimb" class="dark"/>
        </header>
        <section class="event">
            <hgroup>
                <img src="{{ .Image }}" alt="{{ .ImageAlt }}">
                <h1>{{ .Name }}</h1>
                <p>In-Person | {{ .StartDate }} • {{ .StartTime }}</p>
            </hgroup>

            {{ .Body }}
            
            {{range $Link := .Links}}
                <a href="{{ $Link.URL }}" target="_blank" class="button">{{ $Link.Name }}</a>
            {{end}}
        </section>
    </body>
</html>
