@import 'styles/colors.scss';
@import 'styles/mixins.scss';
@import 'styles/queries.scss';

$header_background_dark: $dark_theme_background;
$header_background_light: $light_theme_background;
$header_link_text_color_dark: $dark_theme_color;
$header_link_text_color_light: $light_theme_color;

.header {
    @include focus-outline;

    align-items: center;
    background: linear-gradient(180deg, rgba($header_background_dark, 0.75) 0%, rgba($header_background_dark, 0) 100%);
    display: flex;
    font-size: 16px;
    height: 64px;
    left: 0;
    position: fixed;
    top: 0;
    transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    width: 100%;
    z-index: 1;

    &::before {
        background-color: $header_background_light;
        bottom: 0;
        content: '';
        left: 0;
        opacity: 0;
        position: absolute;
        right: 0;
        top: 0;
        transition: opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1);
        z-index: -1;
    }

    a {
        color: $header_link_text_color_dark;
        display: block;
        text-shadow: $header_link_text_color_light 1px 2px 2px;
        transition-property: color, text-shadow;
        transition-duration: 0.3s;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &--shadow {
        background: $header_background_light;
        box-shadow: rgba(0, 0, 0, 0.12) 0 2px 4px 0;

        &::before {
            opacity: 1;
        }

        a {
            color: $header_link_text_color_light;
            display: block;
            text-shadow: $header_link_text_color_dark 1px 2px 2px;
        }

        .header__logo svg {
            filter: drop-shadow(1px 2px 2px $header_link_text_color_dark);
        }
    }

    a:focus {
        outline-offset: 0;
    }

    &__skip-to-content {
        background: $header_background_light;
        color: $header_link_text_color_light;
        height: 30px;
        left: calc(50% - 69px);
        padding: 8px;
        position: absolute;
        top: 0;
        transform: translateY(-100%);
        transition: transform 0.3s;

        &:focus {
            transform: translateY(0%);
        }
    }

    &__donate-button a {
        color: $header_link_text_color_dark;
        text-shadow: none;
        &:focus {
            outline-offset: 2px;
        }
    }

    &__logo,
    &__social-links {
        flex: 0 1 auto;
    }

    &__logo {
        margin: 0 16px;

        svg {
            filter: drop-shadow(1px 2px 2px $header_link_text_color_light);
        }
    }

    &__navigation {
        flex: 1 1 auto;
    }

    &__nav-item {
        padding: 22px 16px;
    }

    &__navigation-main,
    &__social-links {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            margin: 0;
            padding: 0;

            &.header__donate-button {
                padding: 10px 16px;
            }
        }
    }

    &__facebook:hover,
    &__facebook:focus {
        color: $facebook;
        text-decoration: none;
    }

    &__discord:hover,
    &__discord:focus {
        color: $discord;
        text-decoration: none;
    }

    &__instagram:hover,
    &__instagram:focus {
        color: $instagram;
        text-decoration: none;
    }

    &--mobile {
        .header {
            &__menu {
                background: none;
                border: none;
                color: $header_link_text_color_light;
                font-size: 24px;
            }

            &__button-area {
                width: 32px;

                &--left {
                    margin-left: 16px;
                }

                &--right {
                    margin-right: 16px;
                }
            }

            &__logo {
                flex: 1 1 auto;
                text-align: center;
            }
        }
    }
}

@media screen and ($dark_mode) {
    .header {
        &::before {
            background-color: $header_background_dark;
        }

        &--shadow {
            box-shadow: rgba(0, 0, 0, 0.12) 0 2px 4px 0;
        }

        &__logo svg {
            filter: drop-shadow(1px 2px 2px $header_link_text_color_light);
        }

        a {
            color: $header_link_text_color_dark;
            text-shadow: $header_link_text_color_light 1px 2px 2px;
        }

        &__donate-button a {
            text-shadow: none;
        }

        &__skip-to-content {
            background: $header_background_dark;
            color: $header_link_text_color_dark;
        }

        &--mobile {
            .header__menu {
                color: $header_link_text_color_dark;
            }
        }
    }
}
