@import 'styles/queries.scss';

.events {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
    grid-column: content;
    margin: 16px 8px;
}

@media screen and ($tablet) {
    .events {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and ($mobile) {
    .events {
        grid-template-columns: 1fr;
    }
}
