@import 'styles/queries.scss';

.home {
    display: flex;
    flex-direction: column;
    gap: 32px;

    &__headline {
        font-size: 40px;
        padding: 32px 64px;
        text-align: center;
    }
}

@media screen and ($tablet) {
    .home__headline {
        padding: 32px;
    }
}

@media screen and ($mobile) {
    .home__headline {
        padding: 8px;
        font-size: 28px;
    }
}
