@import 'styles/queries.scss';

.home__headline {
    font-size: 40px;
    grid-column: content;
    padding: 32px;
    text-align: center;
}

@media screen and ($tablet) {
    .home__headline {
        padding: 32px;
    }
}

@media screen and ($mobile) {
    .home__headline {
        padding: 8px;
        font-size: 28px;
    }
}
