@import 'styles/colors.scss';

@font-face {
    font-family: 'Montserrat';
    font-weight: bold;
    src: local('Montserrat'), url('/fonts/montserrat-bold.ttf');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: normal;
    src: local('Montserrat'), url('/fonts/montserrat-regular.ttf');
}

* {
    box-sizing: border-box;
}

html,
body {
    background: $light_theme_background;
    color: $light_theme_color;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    margin: 0;
    min-height: 100dvh;
}

body.no-scroll {
    overflow: hidden;
}

a {
    color: $deep_purple_400;
    text-decoration: none;

    &:hover,
    &:focus {
        text-decoration: underline;
    }

    &:focus {
        border-radius: 2px;
        outline-color: $deep_purple_200;
        outline-offset: 2px;
        outline-style: solid;
        outline-width: 2px;

        &:not(:focus-visible) {
            outline: 0 !important;
            text-decoration: none;
        }
    }
}

@media (prefers-color-scheme: dark) {
    html,
    body {
        background: $dark_theme_background;
        color: $dark_theme_color;
    }

    a {
        color: $deep_purple_100;
    }
}
