@import 'styles/colors.scss';
@import 'styles/mixins.scss';
@import 'styles/queries.scss';

@font-face {
    font-display: swap;
    font-family: 'Montserrat';
    font-weight: bold;
    src:
        local('Montserrat'),
        url('/assets/fonts/montserrat-bold.woff2') format('woff2'),
        url('/assets/fonts/montserrat-bold.ttf');
}

@font-face {
    font-display: swap;
    font-family: 'Montserrat';
    font-weight: normal;
    src:
        local('Montserrat'),
        url('/assets/fonts/montserrat-regular.woff2') format('woff2'),
        url('/assets/fonts/montserrat-regular.ttf');
}

* {
    box-sizing: border-box;
}

html,
body {
    background: $light_theme_background;
    color: $light_theme_color;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    margin: 0;
    min-height: 100dvh;
}

body.no-scroll {
    overflow: hidden;
}

a {
    @include focus-outline;

    color: $deep_purple_400;
    text-decoration: none;

    &:hover,
    &:focus {
        text-decoration: underline;
    }

    &:focus {
        border-radius: 2px;
        outline-offset: 2px;
    }
}

@media screen and ($dark_mode) {
    html,
    body {
        background: $dark_theme_background;
        color: $dark_theme_color;
    }

    a {
        color: $deep_purple_100;
    }
}
